

<div class="search">
  <app-search (searchEvent)="performSearch($event)"></app-search>
</div>
<br>




<div class="user-grid">
  <div class="user-card" *ngFor="let usuario of usuariosFiltrados">
    <div class="user-photo">
      <img [src]="usuario.photo" alt="Foto do usuário" height="50" width="50">
    </div>
    <div class="user-details">
      <div class="user-name">Nome: {{ usuario.username }}</div>
      <div class="user-email">E-mail: {{ usuario.email }}</div>
    </div>
  </div>
</div>


<h2>Lista de Usuários</h2>
<div class="user-grid">
  <div class="user-card" *ngFor="let usuario of usuarios">
    <div class="user-photo">
      <img [src]="usuario.photo" alt="Foto do usuário" height="50" width="50">
    </div>
    <div class="user-details">
      <div class="user-name">{{ usuario.username }}</div>
      
    </div>
  </div>
</div>


